CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_Default=y
CONFIG_TARGET_BOARD="ipq806x"
CONFIG_DEVEL=y
CONFIG_LOCALMIRROR="http://tritium.qca.qualcomm.com/mirror/openwrt"
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
# CONFIG_TARGET_ROOTFS_TARGZ is not set
# CONFIG_TARGET_ROOTFS_UBIFS is not set
