CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_QSDK_Carrier=y
CONFIG_TARGET_BOARD="ipq806x"
CONFIG_DEVEL=y
CONFIG_KERNEL_KALLSYMS=y
CONFIG_LOCALMIRROR="http://tritium.qca.qualcomm.com/mirror/openwrt"
CONFIG_PACKAGE_kmod-qca-nss-connmgr=m
CONFIG_PKG_BUILD_JOBS=2
# CONFIG_PKG_BUILD_USE_JOBSERVER is not set
# CONFIG_QCAWLAN_DUAL is not set
CONFIG_QCAWLAN_PCI=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
